# Build
build/
cmake-build-*/

# Visual Studio
.vs/
*.user
*.suo

# Compiled files
*.obj
*.o
*.exe
*.dll
*.lib
*.pdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# IDE
.vscode/
.idea/